* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.img-h {
    width: 16px;
    margin-right: 7px;
    color: blueviolet;
}

.img-h4 {
    width: 16px;
    margin-right: 7px;
    color: blueviolet;
    height: 20px;
    margin-top: 3px;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    height: 43px;
    background: linear-gradient(to right, #58D7E7, #FAF8E9);

}

nav h4 {
    color: rgb(19, 105, 105);
    margin-top: 3px;
    font-size: 24px;
    margin-left: 4vw;
}

nav ul {
    display: flex;
    gap: 3vw;
    list-style: none;
    justify-content: end;
    width: 70%;
    cursor: pointer;
    margin-top: 3px;
}

nav ul li {
    font-size: 23px;
}

nav ul li a:link,
na ul li a:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.active {
    color: #fffbfb;
    background: #306bdb;
    width: 73px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.active:hover {
    color: white;
}


nav ul li a:hover {
    color: #306bdb;
}

.mobile-nav-btn {
    margin-right: 16px;
    display: none;
    background: transparent;
    cursor: pointer;
}

.nav-icon[name="close-nav"] {
    display: none;
}

.nav-icon {
    width: 30px;
}


nav ul li a {
    color: black;
}

@media(max-width:980px) {
    .mobile-nav-btn {
        display: block;
        z-index: 999;

    }

    .nav {
        position: relative;
        margin-top: 0;
    }

    .nav h4 {
        color: darkslategray;
        font-size: 20px;
        width: 170%;
        margin-left: 10px;
    }

    .nav-list {
        /*display: none;*/
        width: 45%;
        height: 31vh;
        background: linear-gradient(to right, #a29b93, #06a7f4);
        position: absolute;
        top: 36px;
        left: 51%;
        right: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .show .nav-list {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
    }

    .show .mobile-nav-btn .nav-icon[name="hamB"] {
        display: none;
    }

    .show .mobile-nav-btn .nav-icon[name="close-nav"] {
        display: block;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main .hlw-txt {
        font-size: 20px;
        font-weight: 100;
    }

    .main .hlw-txt-1 {
        font-size: 22px;
        font-weight: 100;
    }

    .main .img-arrow {
        width: 20px;
        font-weight: 100;
    }

    .main .img-right {
        display: flex;
        justify-content: center;
        height: max-content;
        margin-top: -5vh;
    }

    .main .img-coding {
        display: block;
        width: 230px;
        margin-top: 0;
    }

    .main .intro-text-1 {
        font-size: 20px;
    }

    .main .intro-text-2 {
        font-size: 22px;
    }

    .main .intro-text-3 {
        font-size: 18px;
    }

    .main .txt-wrapper {
        margin-top: -90px;
        margin-bottom: 132px;
    }

    .main .intro-text {
        margin-top: 5px;
        margin-left: 19px;
    }

}

.img-coding {
    width: 400px;
    margin-top: 10vh;
    animation: codeMove 4s linear infinite;
}
@keyframes codeMove {
    0%{
        margin-bottom: 10px;
    }
    50%{
        margin-bottom: 0px;
    }
    75%{
        margin-top:-5px;
    }
    100%{
        margin-bottom: 5px;
    }
    
}

.img-arrow {
    width: 30px;
    color: yellow;
}

.main {
    display: flex;
    justify-content: space-around;
    background-image: url('../img/cloudBg.f28b5c6961fd82be839c.png');
    background-size: 100vw 86vh;
    height: 86vh;
}

.hello-text {
    display: flex;
}

.intro-text {
    gap: 2vw;
    margin-top: 2vh;
    margin-left: 29px;
}

.img-right {
    display: flex;
    justify-content: right;
    height: max-content;
}

.txt-wrapper {
    margin-top: 12vh;
}

.hlw-txt {
    font-size: 24px;
    font-weight: 900;
}

.hlw-txt-1 {
    font-size: 31px;
    color: yellow;
    font-weight: 900;
}

.intro-text-1 {
    font-size: 30px;
    font-weight: 900;
}

.intro-text-2 {
    font-size: 32px;
    color: rgb(34, 33, 136);
    font-weight: 900;
}

.intro-text-3 {
    font-size: 20px;
    color: black;

}


@media(max-width:500px) {

    .main .intro-text-3 {
        font-size: 16px;
    }
}

.github {
    width: 40px;
}

.social {
    display: flex;
    gap: 2vw;
    width: ;
    justify-content: left;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
}

.social a:hover {
    font-size: 50px;
}

@media(max-width:800px) {

    .github {
        font-size: 35px;
        background: white;
    }

}

.btn {
    margin-top: 4vh;
    text-align: left;
    margin-left: 25px;
}

.btn-1 {
    width: 20vw;
    height: 9vh;
    background: #306bdb;
    font-size: 16px;
    border: 1px;
    border-radius: 6px;
    color: white;
}

.btn-1:hover {
    background: skyblue;
    color: white;
}

@media(max-width:900px) {

    .btn-1 {
        width: 34vw;
        height: 7vh;
    }

}

@media(max-width:600px) {

    .btn-1 {
        width: 36vw;
        height: 6vh;
    }

}

@media(max-width:500px) {

    .btn-1 {
        width: 36vw;
        height: 6vh;
    }

}

footer {
    background-color: #263248;
    text-align: center;
    color: white;
    font-size: 17px;
    height: 9vh;
    margin-top: 90px;
}

pre {
    font-size: 15px;
    color: rgb(11, 29, 119);
}

.code {
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: auto;
    height: 45vh;
    padding: 80px 30px;
}

.card-img-code {
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
    margin-top: -67px;
    background: #6d6dcc;
    border-radius: 89% 11% 0% 100% / 100% 0% 100% 0%
}

.img-code {
    width: 346px;
    animation: move 3s linear infinite;
}
@keyframes move {
    0%{
        margin-left:20px;
    }
    50%{
        margin-right:40px;
    }
    100%{
        margin-left:20px;
    }
    
}

.imgg {
    background: linear-gradient(to right, #B763F7, #843CD8);
    border-radius: 73% 27% 60% 40% / 100% 0% 100% 0%;
    margin-top: -55px;
}

@media(max-width:980px) {
    .code {
        width: auto;
        margin: 10px 5px;
        height: auto;
    }


    .card-img-code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -118px;
    }

    .imgg {
        text-align: center;
        height: 324px;
    }

    .img-code {
        width: 348px;
    }

    pre {
        font-size: 18px;
    }
}

@media(max-width:600px) {

    pre {
        font-size: 13px;
    }
}

@media(max-width:500px) {

    pre {
        font-size: 11px;
    }
}

@media(max-width:400px) {

    pre {
        font-size: 9px;
    }
}

.shape {
    height: 178px;
    background: #b2d1e3;
    border-radius: 74% 26% 51% 49% / 0% 0% 100% 100%;


}

.shape-1 {
    border-radius: 73% 27% 51% 49% / 100% 100% 0% 0%;
    height: 178px;
    background: #b2d1e3;

}

.shape-container {}

.shape-2 {
    background: #6d6dcc;
    height: 25vh;
    margin-top: -10px;
    margin-right: 10px;
    border-radius: 89% 11% 0% 100% / 0% 0% 100% 100%;
    margin-left: 10px;
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 60px
}

.center-Q-con {
    margin-top: -140px;
    display: flex;
    justify-content: center;
}

.Q-container {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 55vw;
    height: 38vh;
    border-radius: 6px;
}

.Q-container h1 {
    color: #1d1d4a;
    text-align: center;
    padding-top: 19px;
}

.q-text {
    font-size: 16px;
    text-align: center;
    color: gray;
    font-weight: bolder;
    margin-top: 40px;
}

.q-name {
    text-align: -moz-center;
    font-size: 14px;
    color: gray;
    font-weight: bolder;
    margin-top: 14px;
    margin-right: 83px;
    text-align: right;
}

.btn-con {
    text-align: center;
    margin-top: 78px;
}

.btn-con button {
    width: 14vw;
    height: 7vh;
    color: white;
    background: #6969cc;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.btn-con button:hover{
    background: #4D3980;
    color:white;
}

@media(max-width:980px) {
    .center-Q-con {}

    .Q-container {
        width: 89vw;
        height: 37vh;
    }

    .Q-container h1 {
        font-size: 23px;
    }

    .q-text {
        font-size: 15px;
    }

    .q-name {
        font-size: 13px;
    }

    .btn-con {}

    .btn-con button {
        width: 41vw;
        height: 50px;
    }
}