* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.img-h {
    width: 16px;
    margin-right: 7px;
    color: blueviolet;
}

.img-h4 {
    width: 16px;
    margin-right: 7px;
    color: blueviolet;
    height: 20px;
    margin-top: 3px;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    margin-top: 2vh;
    margin-left: 4px;
    background: #fff;

}

nav h4 {
    color: rgb(19, 105, 105);
    margin-top: 3px;
    font-size: 24px;
    margin-left: 4vw;
}

nav ul {
    display: flex;
    gap: 3vw;
    list-style: none;
    justify-content: end;
    width: 70%;
    cursor: pointer;
    margin-top: 3px;
}

nav ul li {
    font-size: 13px;
}

nav ul li a:link,
na ul li a:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.active {
    color: #fffbfb;
    background: #306bdb;
    ;
    width: 56px;
    height: 23px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}


nav ul li a:hover {
    color: #fffbfb;
    background: #306bdb;
    ;
    width: 80px;
    height: 23px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.mobile-nav-btn {
    margin-right: 16px;
    display: none;
    background: transparent;
    cursor: pointer;
}

.nav-icon[name="close-nav"] {
    display: none;
}

.nav-icon {
    width: 30px;
}


nav ul li a {
    color: black;
}

@media(max-width:980px) {
    .mobile-nav-btn {
        display: block;
        z-index: 999;

    }

    .nav {
        position: relative;
        margin-top: 0;
    }

    .nav h4 {
        color: darkslategray;
        font-size: 20px;
        width: 170%;
        margin-left: 10px;
    }

    .nav-list {
        /*display: none;*/
        width: 100%;
        height: 100vh;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .show .nav-list {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
    }

    .show .mobile-nav-btn .nav-icon[name="hamB"] {
        display: none;
    }

    .show .mobile-nav-btn .nav-icon[name="close-nav"] {
        display: block;
    }

    .main {
        display: flex;
        justify-content: center;
    }

    .main .hlw-txt {
        font-size: 20px;
        font-weight: 100;
    }

    .main .hlw-txt-1 {
        font-size: 22px;
        font-weight: 100;
    }

    .main .img-arrow {
        width: 20px;
        font-weight: 100;
    }

    .main .img-coding {
        width: 24vw;
        height: 24vh;
    }

    .main .intro-text-1 {
        font-size: 20px;
    }

    .main .intro-text-2 {
        font-size: 22px;
    }

    .main .intro-text-3 {
        font-size: 18px;
    }

    .main .txt-wrapper {
        margin-top: 45px;
        margin-bottom: 0;
    }

    .main .intro-text {
        margin-top: 5px;
        margin-left: 19px;
    }
    .social {
        width: 40%;
        margin-top: 2vh;
    }
}

.img-coding {
    width: 304px;
}

.img-arrow {
    width: 30px;
    color: yellow;
}

.main {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.hello-text {
    display: flex;
}

.intro-text {
    gap: 2vw;
    margin-top: 2vh;
    margin-left: 29px;
}

.img-right {
    display: flex;
    justify-content: right;
}

.txt-wrapper {
    margin-top: 12vh;
}

.hlw-txt {
    font-size: 24px;
    font-weight: 900;
}

.hlw-txt-1 {
    font-size: 31px;
    color: rgb(60, 255, 0);
    font-weight: 900;
}

.intro-text-1 {
    font-size: 30px;
    font-weight: 900;
}

.intro-text-2 {
    font-size: 32px;
    color: rgb(34, 33, 136);
    font-weight: 900;
}

.intro-text-3 {
    font-size: 24px;
    color: black;
    font-weight: 900;
}

@media(max-width:600px) {
    .main .img-coding {
        width: 30vw;
        height: 22vh;
    }}

@media(max-width:500px) {
    .main .img-coding {
        width: 34vw;
        height: 22vh;
    }

    .main .intro-text-3 {
        font-size: 16px;
    }
}

.github {
    width: 45px;
}

.social {
    display: flex;
    gap: 2vw;
    width: 27%;
    justify-content: right;
    cursor: pointer;
}
.social a:hover{
    font-size:50px;
}
@media(max-width:800px){
   .social{
    width: 40%;
   }
   .github{
    font-size: 35px;
   }
}